{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% blocktrans %}Goldentravel.uz{% endblocktrans %}{% endblock %}
{% block hero %}
{% endblock %}
{% block content %}
  <div class="hero">
			<div class="container-wrap d-flex justify-content-end align-items-end">
				<a href="https://www.youtube.com/watch?v=_ZH1WsIr2Zk" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
					<span class="ion-ios-play play"></span>
				</a>
			</div>
	    <section class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image:url({% static 'images/logo.jpg' %});">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text align-items-center">
	          <div class="col-md-8 ftco-animate">
	          	<div class="text mb-5 pb-5">
		            <h1 class="mb-3">GoldenTravel</h1>
		            <h2>More than a tour... an experience</h2>
	            </div>
	          </div>
	        </div>
	        </div>
	      </div>

	      <div class="slider-item" style="background-image:url({% static 'images/logo1.jpg' %});">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text align-items-center">
	          <div class="col-md-8 ftco-animate">
	          	<div class="text mb-5 pb-5">
		            <h1 class="mb-3">Experience Epic Beauty</h1>
		            <h2>Golden Travel &amp; Tour</h2>
	            </div>
	          </div>
	        </div>
	        </div>
	      </div>
	    </section>
	  </div>
        <section class="ftco-booking ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-12 pr-1 aside-stretch">
    				<form action="#" class="booking-form">
	        		<div class="row">
	        			<div class="col-md d-flex py-md-4">
	        				<div class="form-group align-self-stretch d-flex align-items-end">
	        					<div class="wrap bg-white align-self-stretch py-3 px-4">
				    					<label for="#">{% blocktrans %}Check-in Date{% endblocktrans %}</label>
				    					<input type="text" class="form-control checkin_date" placeholder="Check-in date">
			    					</div>
			    				</div>
	        			</div>
	        			<div class="col-md d-flex py-md-4">
	        				<div class="form-group align-self-stretch d-flex align-items-end">
	        					<div class="wrap bg-white align-self-stretch py-3 px-4">
				    					<label for="#">{% blocktrans %}Check-out Date{% endblocktrans %}</label>
				    					<input type="text" class="form-control checkout_date" placeholder="Check-out date">
			    					</div>
			    				</div>
	        			</div>
	        			<div class="col-md d-flex py-md-4">
	        				<div class="form-group align-self-stretch d-flex align-items-end">
	        					<div class="wrap bg-white align-self-stretch py-3 px-4">
			      					<label for="#">{% trans "Room" %}</label>
			      					<div class="form-field">
			        					<div class="select-wrap">
			                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
			                    <select name="" id="" class="form-control">
			                    	<option value="">{% trans "Suite" %}</option>
			                      <option value="">{% blocktrans %}Family Tour{% endblocktrans %}</option>
			                      <option value="">{% blocktrans %}Deluxe Tour{% endblocktrans %}</option>
			                      <option value="">{% blocktrans %}Classic Tour{% endblocktrans %}</option>
			                      <option value="">{% blocktrans %}Superior Tour{% endblocktrans %}</option>
			                      <option value="">{% blocktrans %}Luxury Tour{% endblocktrans %}</option>
			                    </select>
			                  </div>
				              </div>
				            </div>
		              </div>
	        			</div>
	        			<div class="col-md d-flex py-md-4">
	        				<div class="form-group align-self-stretch d-flex align-items-end">
	        					<div class="wrap bg-white align-self-stretch py-3 px-4">
			      					<label for="#">Guests</label>
			      					<div class="form-field">
			        					<div class="select-wrap">
			                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
			                    <select name="" id="" class="form-control">
			                    	<option value="">{% blocktrans %}1 Adult{% endblocktrans %}</option>
			                      <option value="">{% blocktrans %}2 Adult{% endblocktrans %}</option>
			                      <option value="">{% blocktrans %}3 Adult{% endblocktrans %}</option>
			                      <option value="">{% blocktrans %}4 Adult{% endblocktrans %}</option>
			                      <option value="">{% blocktrans %}5 Adult{% endblocktrans %}</option>
			                      <option value="">{% blocktrans %}6 Adult{% endblocktrans %}</option>
			                    </select>
			                  </div>
				              </div>
				            </div>
		              </div>
	        			</div>
	        			<div class="col-md d-flex">
	        				<div class="form-group d-flex align-self-stretch">
			              <a href="#" class="btn btn-black py-5 py-md-3 px-4 align-self-stretch d-block"><span>{% blocktrans %}Check Availability{% endblocktrans %} <small>{% blocktrans %}Best Price Guaranteed!{% endblocktrans %}</small></span></a>
			            </div>
	        			</div>
	        		</div>
	        	</form>
	    		</div>
    		</div>
    	</div>
    </section>

		<section class="ftco-section ftco-no-pt ftco-no-pb ftco-services-wrap">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-3">
						<a href="#" class="services-wrap img align-items-end d-flex" style="background-image: url({% static 'images/mini1.jpg' %});">
							<div class="text text-center pb-2">
								<h3>{% blocktrans %}Tashkent{% endblocktrans %}</h3>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="services-wrap img align-items-end d-flex" style="background-image: url({% static 'images/mini2.jpg' %});">
							<div class="text text-center pb-2">
								<h3>{% blocktrans %}Khiva{% endblocktrans %}</h3>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="#" class="services-wrap img align-items-end d-flex" style="background-image: url({% static 'images/mini3.jpg' %});">
							<div class="text text-center pb-2">
								<h3>Samarkand</h3>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<div class="services-wrap services-overlay img align-items-center d-flex" style="background-image: url({% static 'images/mini4.jpg' %});">
							<div class="text text-center pb-2">
								<h3 class="mb-0">{% blocktrans %}Samarkand{% endblocktrans %}</h3>
								<span>{% blocktrans %}Shakhizinda{% endblocktrans %}</span>
								<div class="d-flex mt-2 justify-content-center">
								<div class="icon">
									<a href="#"><span class="ion-ios-arrow-forward"></span></a>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">{% blocktrans %}Welcome to GoldenTravel tour agency{% endblocktrans %}</span>
            <h2 class="mb-4">{% blocktrans %}A New Vision of Tour Agency{% endblocktrans %}</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md pr-md-1 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<span class="flaticon-reception-bell"></span>
              	</div>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">{% blocktrans %}Friendly Service{% endblocktrans %}</h3>
              </div>
            </div>
          </div>
          <div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
           <div class="media block-6 services py-4 d-block text-center"> {# active#}
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<span class="flaticon-serving-dish"></span>
              	</div>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">{% blocktrans %}Get Breakfast{% endblocktrans %}</h3>
              </div>
            </div>
          </div>
          <div class="col-md px-md-1 d-flex align-sel Searchf-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<span class="flaticon-car"></span>
              	</div>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">{% blocktrans %}Transfer Services{% endblocktrans %}</h3>
              </div>
            </div>
          </div>
          <div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<span class="flaticon-spa"></span>
              	</div>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">{% blocktrans %}Suits &amp; SPA{% endblocktrans %}</h3>
              </div>
            </div>
          </div>
          <div class="col-md pl-md-1 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<span class="ion-ios-bed"></span>
              	</div>
              </div>
              <div class="media-body">
                <h3 class="heading mb-3">{% blocktrans %}Cozy Tours{% endblocktrans %}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light ftco-room">
    	<div class="container-fluid px-0">
    		<div class="row no-gutters justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">{% blocktrans %}Golden Tours{% endblocktrans %}</span>
            <h2 class="mb-4">{% blocktrans %}Tour Master's Tours{% endblocktrans %}</h2>
          </div>
        </div>
    		<div class="row no-gutters">
    			<div class="col-lg-6">
    				<div class="room-wrap">
    					<div class="img d-flex align-items-center" style="background-image: url({% static 'images/bg_4.jpg' %});">
    						<div class="text text-center px-4 py-4">
    							<h2>{% blocktrans %}Welcome to{% endblocktrans %} <a href="index.html">Goldentravel</a> tours</h2>
    							<p>{% blocktrans %}A small river named Duden flows by their place and supplies it with the necessary regelialia.{% endblocktrans %}</p>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-lg-6">
    				<div class="room-wrap d-md-flex">
    					<a href="#" class="img" style="background-image: url({% static 'images/mini1.jpg' %});"></a>
    					<div class="half left-arrow d-flex align-items-center">
    						<div class="text p-4 p-xl-5 text-center">
    							<p class="star mb-0"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
    							<p class="mb-0"><span class="price mr-1">$120.00</span> <span class="per">per day</span></p>
	    						<h3 class="mb-3"><a href="rooms.html">{% blocktrans %}Suite Tour{% endblocktrans %}</a></h3>
	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">{% blocktrans %}View Tour Details{% endblocktrans %} <span class="icon-long-arrow-right"></span></a></p>
    						</div>
    					</div>
    				</div>
    			</div>

    			<div class="col-lg-6">
    				<div class="room-wrap d-md-flex">
    					<a href="#" class="img order-md-last" style="background-image: url({% static 'images/mini2.jpg' %});"></a>
    					<div class="half right-arrow d-flex align-items-center">
    						<div class="text p-4 p-xl-5 text-center">
    							<p class="star mb-0"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
    							<p class="mb-0"><span class="price mr-1">$120.00</span> <span class="per">per night</span></p>
	    						<h3 class="mb-3"><a href="rooms.html">{% blocktrans %}Family Tour{% endblocktrans %}</a></h3>
	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">{% blocktrans %}View Tour Details{% endblocktrans %} <span class="icon-long-arrow-right"></span></a></p>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-lg-6">
    				<div class="room-wrap d-md-flex">
    					<a href="#" class="img order-md-last" style="background-image: url({% static 'images/mini3.jpg' %});"></a>
    					<div class="half right-arrow d-flex align-items-center">
    						<div class="text p-4 p-xl-5 text-center">
    							<p class="star mb-0"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
    							<p class="mb-0"><span class="price mr-1">$120.00</span> <span class="per">per night</span></p>
	    						<h3 class="mb-3"><a href="rooms.html">{% blocktrans %}Deluxe Tour{% endblocktrans %}</a></h3>
	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">{% blocktrans %}View Tour Details{% endblocktrans %} <span class="icon-long-arrow-right"></span></a></p>
    						</div>
    					</div>
    				</div>
    			</div>

    			<div class="col-lg-6">
    				<div class="room-wrap d-md-flex">
    					<a href="#" class="img" style="background-image: url({% static 'images/mini4.jpg' %});"></a>
    					<div class="half left-arrow d-flex align-items-center">
    						<div class="text p-4 p-xl-5 text-center">
    							<p class="star mb-0"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
    							<p class="mb-0"><span class="price mr-1">$120.00</span> <span class="per">per night</span></p>
	    						<h3 class="mb-3"><a href="rooms.html">Luxury Tour</a></h3>
	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">View Tour Details <span class="icon-long-arrow-right"></span></a></p>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-lg-6">
    				<div class="room-wrap d-md-flex">
    					<a href="#" class="img" style="background-image: url({% static 'images/room-6.jpg' %});"></a>
    					<div class="half left-arrow d-flex align-items-center">
    						<div class="text p-4 p-xl-5 text-center">
    							<p class="star mb-0"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
    							<p class="mb-0"><span class="price mr-1">$120.00</span> <span class="per">per night</span></p>
	    						<h3 class="mb-3"><a href="rooms.html">Superior Tour</a></h3>
	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">View Tour Details <span class="icon-long-arrow-right"></span></a></p>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
  <section class="ftco-section testimony-section bg-light">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">{% trans "Testimony" %}</span>
            <h2 class="mb-4">{% blocktrans %}Our Happy Guest Says{% endblocktrans %}</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 ftco-animate">
          	<div class="row ftco-animate">
		          <div class="col-md-12">
		            <div class="carousel-testimony owl-carousel ftco-owl">
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url({% static 'images/person_1.jpg' %})">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                  	<p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
		                    <p class="mb-4">{% blocktrans %}A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.{% endblocktrans %}</p>
		                    <p class="name">Nathan Smith</p>
		                    <span class="position">Guests</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url({% static 'images/person_2.jpg' %})">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                  	<p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
		                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
		                    <p class="name">Nathan Smith</p>
		                    <span class="position">Guests</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url({% static 'images/person_3.jpg' %})">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                  	<p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
		                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
		                    <p class="name">Nathan Smith</p>
		                    <span class="position">Guests</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url({% static 'images/person_1.jpg' %})">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                  	<p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
		                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
		                    <p class="name">Nathan Smith</p>
		                    <span class="position">Guests</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url({% static 'images/person_1.jpg' %})">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                  	<p class="star"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
		                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
		                    <p class="name">Nathan Smith</p>
		                    <span class="position">Guests</span>
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
          </div>
        </div>
      </div>
    </section>

      <section class="ftco-section ftco-no-pt ftco-no-pb px-0">
			<div class="container-fluid px-0">
				<div class="row no-gutters justify-content-end">
					<div class="col-md-12">
						<div id="home" class="video-hero" style="height: 800px; background-image: url({% static 'images/bg_4.jpg' %}); background-size:cover; background-position: center center;">
							<a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=_ZH1WsIr2Zk',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
							<div class="container">
								<div class="row justify-content-start d-flex align-items-end height-text ">
									<div class="col-md-8">
										<div class="text">
											<h1>We're Most Recommended Tours</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

{#    <section class="ftco-section ftco-menu" style="background-image: url({% static 'images/restaurant-pattern.jpg' %});">#}
{#			<div class="container">#}
{#				<div class="row justify-content-center mb-5 pb-3">#}
{#          <div class="col-md-7 heading-section text-center ftco-animate">#}
{#          	<span class="subheading">Restaurant</span>#}
{#            <h2>Restaurant</h2>#}
{#          </div>#}
{#        </div>#}
{#				<div class="row">#}
{#        	<div class="col-md-6">#}
{#        		<div class="pricing-entry d-flex ftco-animate">#}
{#        			<div class="img order-md-last" style="background-image: url({% static 'images/menu-1.jpg' %});"></div>#}
{#        			<div class="desc pr-3 text-md-right">#}
{#	        			<div class="d-md-flex text align-items-center">#}
{#	        				<h3 class="order-md-last heading-left"><span>Grilled Crab with Onion</span></h3>#}
{#	        				<span class="price price-left">$20.00</span>#}
{#	        			</div>#}
{#	        			<div class="d-block">#}
{#	        				<p>A small river named Duden flows by their place and supplies</p>#}
{#	        			</div>#}
{#        			</div>#}
{#        		</div>#}
{#        		<div class="pricing-entry d-flex ftco-animate">#}
{#        			<div class="img order-md-last" style="background-image: url({% static 'images/menu-2.jpg' %});"></div>#}
{#        			<div class="desc pr-3 text-md-right">#}
{#	        			<div class="d-md-flex text align-items-center">#}
{#	        				<h3 class="order-md-last heading-left"><span>Grilled Beef with potatoes</span></h3>#}
{#	        				<span class="price price-left">$29.00</span>#}
{#	        			</div>#}
{#	        			<div class="d-block">#}
{#	        				<p>A small river named Duden flows by their place and supplies</p>#}
{#	        			</div>#}
{#	        		</div>#}
{#        		</div>#}
{#        		<div class="pricing-entry d-flex ftco-animate">#}
{#        			<div class="img order-md-last" style="background-image: url({% static 'images/menu-3.jpg' %});"></div>#}
{#        			<div class="desc pr-3 text-md-right">#}
{#	        			<div class="d-md-flex text align-items-center">#}
{#	        				<h3 class="order-md-last heading-left"><span>Grilled Beef with potatoes</span></h3>#}
{#	        				<span class="price price-left">$20.00</span>#}
{#	        			</div>#}
{#	        			<div class="d-block">#}
{#	        				<p>A small river named Duden flows by their place and supplies</p>#}
{#	        			</div>#}
{#	        		</div>#}
{#        		</div>#}
{#        		<div class="pricing-entry d-flex ftco-animate">#}
{#        			<div class="img order-md-last" style="background-image: url({% static 'images/menu-4.jpg' %});"></div>#}
{#        			<div class="desc pr-3 text-md-right">#}
{#	        			<div class="d-md-flex text align-items-center">#}
{#	        				<h3 class="order-md-last heading-left"><span>Grilled Beef with potatoes</span></h3>#}
{#	        				<span class="price price-left">$20.00</span>#}
{#	        			</div>#}
{#	        			<div class="d-block">#}
{#	        				<p>A small river named Duden flows by their place and supplies</p>#}
{#	        			</div>#}
{#	        		</div>#}
{#        		</div>#}
{#        	</div>#}
{##}
{#        	<div class="col-md-6">#}
{#        		<div class="pricing-entry d-flex ftco-animate">#}
{#        			<div class="img" style="background-image: url({% static 'images/menu-5.jpg' %});"></div>#}
{#        			<div class="desc pl-3">#}
{#	        			<div class="d-md-flex text align-items-center">#}
{#	        				<h3><span>Grilled Beef with potatoes</span></h3>#}
{#	        				<span class="price">$49.91</span>#}
{#	        			</div>#}
{#	        			<div class="d-block">#}
{#	        				<p>A small river named Duden flows by their place and supplies</p>#}
{#	        			</div>#}
{#	        		</div>#}
{#        		</div>#}
{#        		<div class="pricing-entry d-flex ftco-animate">#}
{#        			<div class="img" style="background-image: url({% static 'images/menu-6.jpg' %});"></div>#}
{#        			<div class="desc pl-3">#}
{#	        			<div class="d-md-flex text align-items-center">#}
{#	        				<h3><span>Ultimate Overload</span></h3>#}
{#	        				<span class="price">$20.00</span>#}
{#	        			</div>#}
{#	        			<div class="d-block">#}
{#	        				<p>A small river named Duden flows by their place and supplies</p>#}
{#	        			</div>#}
{#	        		</div>#}
{#        		</div>#}
{#        		<div class="pricing-entry d-flex ftco-animate">#}
{#        			<div class="img" style="background-image: url({% static 'images/menu-7.jpg' %});"></div>#}
{#        			<div class="desc pl-3">#}
{#	        			<div class="d-md-flex text align-items-center">#}
{#	        				<h3><span>Grilled Beef with potatoes</span></h3>#}
{#	        				<span class="price">$20.00</span>#}
{#	        			</div>#}
{#	        			<div class="d-block">#}
{#	        				<p>A small river named Duden flows by their place and supplies</p>#}
{#	        			</div>#}
{#	        		</div>#}
{#        		</div>#}
{#        		<div class="pricing-entry d-flex ftco-animate">#}
{#        			<div class="img" style="background-image: url({% static 'images/menu-8.jpg' %});"></div>#}
{#        			<div class="desc pl-3">#}
{#	        			<div class="d-md-flex text align-items-center">#}
{#	        				<h3><span>Ham &amp; Pineapple</span></h3>#}
{#	        				<span class="price">$20.00</span>#}
{#	        			</div>#}
{#	        			<div class="d-block">#}
{#	        				<p>A small river named Duden flows by their place and supplies</p>#}
{#	        			</div>#}
{#	        		</div>#}
{#        		</div>#}
{#        	</div>#}
{#        </div>#}
{#			</div>#}
{#		</section>#}

{#    <section class="ftco-section">#}
{#      <div class="container">#}
{#        <div class="row justify-content-center mb-5 pb-3">#}
{#          <div class="col-md-7 heading-section text-center ftco-animate">#}
{#          	<span class="subheading">Read Blog</span>#}
{#            <h2>Recent Blog</h2>#}
{#          </div>#}
{#        </div>#}
{#        <div class="row d-flex">#}
{#          <div class="col-md-4 d-flex ftco-animate">#}
{#            <div class="blog-entry align-self-stretch">#}
{#              <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/image_1.jpg'%});">#}
{#              </a>#}
{#              <div class="text mt-3 text-center">#}
{#              	<div class="meta mb-2">#}
{#                  <div><a href="#">July 03, 2019</a></div>#}
{#                  <div><a href="#">Admin</a></div>#}
{#                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
{#                </div>#}
{#                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>#}
{#                <p><a href="#" class="btn-custom">Read more</a></p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-md-4 d-flex ftco-animate">#}
{#            <div class="blog-entry align-self-stretch">#}
{#              <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/image_2.jpg'%});">#}
{#              </a>#}
{#              <div class="text mt-3 text-center">#}
{#              	<div class="meta mb-2">#}
{#                  <div><a href="#">July 03, 2019</a></div>#}
{#                  <div><a href="#">Admin</a></div>#}
{#                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
{#                </div>#}
{#                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>#}
{#                <p><a href="#" class="btn-custom">Read more</a></p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-md-4 d-flex ftco-animate">#}
{#            <div class="blog-entry align-self-stretch">#}
{#              <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/image_3.jpg'%});">#}
{#              </a>#}
{#              <div class="text mt-3 text-center">#}
{#              	<div class="meta mb-2">#}
{#                  <div><a href="#">July 03, 2019</a></div>#}
{#                  <div><a href="#">Admin</a></div>#}
{#                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
{#                </div>#}
{#                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>#}
{#                <p><a href="#" class="btn-custom">Read more</a></p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </section>#}

    <section class="instagram">
      <div class="container-fluid">
{#        <div class="row no-gutters justify-content-center pb-5">#}
{#          <div class="col-md-7 text-center heading-section ftco-animate">#}
{#          	<span class="subheading">Photos</span>#}
{#            <h2><span>Instagram</span></h2>#}
{#          </div>#}
{#        </div>#}
        <div class="row no-gutters">
          <div class="col-sm-12 col-md ftco-animate">
            <a href="{% static 'images/instagram1.png' %}" class="insta-img image-popup" style="background-image: url({% static 'images/instagram1.png' %});">
              <div class="icon d-flex justify-content-center">
                <span class="icon-instagram align-self-center"></span>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md ftco-animate">
            <a href="{% static 'images/instagram2.png' %}" class="insta-img image-popup" style="background-image: url({% static 'images/instagram2.png' %});">
              <div class="icon d-flex justify-content-center">
                <span class="icon-instagram align-self-center"></span>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md ftco-animate">
            <a href="{% static 'images/instagram3.png' %}" class="insta-img image-popup" style="background-image: url({% static 'images/instagram3.png' %});">
              <div class="icon d-flex justify-content-center">
                <span class="icon-instagram align-self-center"></span>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md ftco-animate">
            <a href="{% static 'images/instagram4.png' %}" class="insta-img image-popup" style="background-image: url({% static 'images/instagram4.png' %});">
              <div class="icon d-flex justify-content-center">
                <span class="icon-instagram align-self-center"></span>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md ftco-animate">
            <a href="{% static 'images/instagram5.png' %}" class="insta-img image-popup" style="background-image: url({% static 'images/instagram5.png' %});">
              <div class="icon d-flex justify-content-center">
                <span class="icon-instagram align-self-center"></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
{% endblock %}
